
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to Penalty Shots</h1>

<button class="btn btn-group-lg bg-success">Create Group</button>

@*Probably need some fancy widgets here noting the shots that you owe and shots that you are owed across all groups*@
<p>You Owe xxx</p>

@*Maybe a List here of all groups that they are a member of?*@
@Html.ActionLink("Example Group", "PenaltyGroup", "Penalty")