
@{
    ViewData["Title"] = "Penalty Group";
}

<h1>Penalty Group</h1>

<p>This page will show each Individual Group, things that should be on this page....</p>
<ol>
    <li>Grid showing shots owed between members of the group?  How does this scale with large group sizes??</li>
    <li>Shots that you owe and are owed within this specific group</li>
    <li>Ways for group management (add/remove members) (Limited to only Commish?)</li>
    <li>Current Group Commish</li>
    <li>List of all members within the Group</li>
    <li>Easy way to add and remove shots taken</li>

</ol>

